<div class="container mt-4">
  <div class="row">
    <h1>Listado de estudiantes</h1>
    <button class="btn btn-primary col-2" (click)="mostrarNoMostrar()">Mostrar/Ocultar</button>
  </div>
  <div class="row mt-4">
    <table class="table" *ngIf="mostrar==true">
      <thead>
        <th>#</th>
        <th>Nombre</th>
        <th>Estado</th>
      </thead>
      <tbody *ngIf="listadoEstudiantes.length>0">
        <tr *ngFor="let estudiante of listadoEstudiantes; let i = index" [ngSwitch]="estudiante.estado">
          <td>{{i+1}}</td>
          <td>{{estudiante.nombre}}</td>
          <!-- <td [ngStyle]="{'font-style':estudiante.estado == 'Promocionado' ? 'italic' : 'normal '}">{{estudiante.estado}}
          </td> -->
          <td>
            <!-- <span [ngClass]="estudiante.estado == 'Promocionado' ? 'badge bg-success' : 'badge bg-secondary' ">
              {{estudiante.estado}}</span>
            -->
            <span *ngSwitchCase="'Promocionado'" class="badge bg-success">{{estudiante.estado }}</span>
            <span *ngSwitchCase="'Regular'" class="badge bg-secondary">{{estudiante.estado}}</span>
            <span *ngSwitchCase="'Recursante'" class="badge bg-danger">{{estudiante.estado}}</span>
          </td>
        </tr>
      </tbody>

    </table>
    <h3 *ngIf="listadoEstudiantes.length==0">No hay registros para mostrar</h3>
  </div>

</div>